<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Discription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.description %></td>
        <td><%= link_to 'Show', project_issue_path(id: issue.id) %></td>
        <td><%= link_to 'Edit', edit_project_issue_path(id: issue.id) %></td>
        <td><%= link_to 'Delete', project_issue_path(id: issue.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_project_issue_path %>
<%= link_to 'Back', project_path(id: @project.id) %>
