<p id="notice"><%= notice %></p>

<div>
  <strong>Title:</strong>
  <%=@issue.title %>
</div>
<div>
  <strong>Description:</strong>
  <%=@issue.description %>
</div>

<%= link_to 'Edit', edit_project_issue_path(id: @issue.id) %> |
<%= link_to 'Back', project_path(id: @project.id) %>
