<h1>Editing Project</h1>

<%= form_for :project, url: project_path(@project), method: :patch do |p| %>
    <p>
      <%= p.label :Name %><br>
      <%= p.text_field :name %>
    </p>

    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@project.errors.count, "error") %> prohibited
            this project from being saved:
          </h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= p.submit %>
    </p>

<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
