<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Listing Issues',  project_issues_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h2>Issues</h2>
<table>
  <tbody>
    <%= render @project.issues %>
  </tbody>
</table>


<h2>Add a Issue:</h2>
<%= link_to 'New Issue', new_project_issue_path(@project) %>


