<!DOCTYPE html>
<html>
<head>
  <title>Crud Issues</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div>
    <%= render_jsx('<Header></Header>', {}, 'nav-header') %>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
